<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/pictures">Photogur</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Edit", edit_picture_path(@picture) %></li>
        <li><%= link_to "Delete", @picture, :confirm => "Are you sure you wish to delete this picture?", :method => :delete %></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= form_for @picture do |f| %>
	<p>
		<%= f.label "artist" %><br>
		<%= f.text_field "artist" %>
	</p>
	<p>
		<%= f.label "title" %><br>
		<%= f.text_field "title" %>
	</p>
	<p>
		<%= f.label "url" %><br>
		<%= f.text_field "url" %>
	</p>

	<p>
		<%= submit_tag "Save" %>
	</p>
<% end %>